/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

/***** GENERIC STYLES *************/
/**********************************/
.panel {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
    background: #004478;
}

.panel ul{
	list-style: none;
  background-color: #004478;
}

.push{
	position: relative;
}

.wrapper {
	width: 95%;
	margin: 0 auto;

}

ul{
  list-style: none;
  padding-left: 0;
}

body{
  font-family: times, serif;
  background-image: url(../img/bgimg.jpg);
  color: #004478;
}

header{
  color: white;
  background-color: #005ea5;
}

.values{
  color: white;
  text-align: center;
}

.main_nav{
  color: white;
  background-color: #b2b2b2;
  display: none;
}

.main_nav a:link{
  text-decoration: none;
  color: white;
}

.main_nav a:visited{
  color: white;
}

.main_nav a:hover{
  color: white;

}

.main_nav a:active{
  color: red;
}

h3{
  color: #005ea5;
}

h2{
  color: #005ea5;
}

p{
  color: #004478;
}

.bottom_nav{
  display: none;
}

.bottom{
  background-color: #b2b2b2;
  text-align: center;
  color: white;
}

.bottom p{
  color: white;
}




.top{
  color: white;
}

.top a:link{
  text-decoration: none;
  color: white;
}

.top a:visited{
  color: white;
}

.top a:hover{
  color: white;

}

.top a:active{
  color: red;
}

.login{
  text-align: right;
  display: inline-block;
  position: relative;
  left: 73%;

}



/***** SPECIFIC STYLES ************/
/**********************************/

/*Homepage*/
.featured{
  margin: 0 auto;
  text-align: center;
  background-color: #005ea5;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-weight: lighter;
  font-style: italic;
}

.featured h2{
  color: white;
  margin: 0;
  text-decoration: none;
}

.featured a{
  text-decoration: none;
}

/*Attorney*/


.attorney_sidebar{
  background-color: #676767;
  color: #fffff0;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

.attorney_sidebar h2{
  background-color: #676767;
  color: #fffff0;
}

.attorney_sidebar a:link{
  text-decoration: none;
  color: #fffff0;
}

.attorney_sidebar a:visited{
  color: #fffff0;
}

.attorney_sidebar a:hover{
  color: #fffff0;

}

.attorney_sidebar a:active{
  color: red;
}

.adamneil {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.cases {
    width: auto;
    height: 395px;
    overflow: hidden;

    /*-webkit-transition: width 2s ease;  For Safari 3.1 to 6.0 */
    transition: height 1s;
}

.cases.hidden {
    height: 0;
}

.button{
  font-size: smaller;
  vertical-align: super;
}

/*Practice Areas*/

.practice_sidebar{
  background-color: #676767;
  color: #fffff0;
  margin: 0 auto;
  width: 100%;
}

.practice_sidebar h2{
  background-color: #676767;
  color: #fffff0;
}

.practice_sidebar a:link{
  text-decoration: none;
  color: #fffff0;
}

.practice_sidebar a:visited{
  color: #fffff0;
}

.practice_sidebar a:hover{
  color: #fffff0;

}

.practice_sidebar a:active{
  color: red;
}



.practice_sidebar2{
  background-color: #676767;
  color: #fffff0;
  margin: 0 auto;
  width: 100%;
}

.practice_sidebar2 h2{
  background-color: #676767;
  color: #fffff0;
}

.practice_sidebar2 a:link{
  text-decoration: none;
  color: #fffff0;
}

.practice_sidebar2 a:visited{
  color: #fffff0;
}

.practice_sidebar2 a:hover{
  color: #fffff0;

}

.practice_sidebar2 a:active{
  color: red;
}


.practice_sidebar2{
  display: none;
}

.attorneys a:link{
  text-decoration: none;
  color: #fffff0;
  background: #005ea5;
  padding: 20px;
  display: block;
  max-width: 100%;
  font-size: large;
}

.attorneys a:visited{
  color: #fffff0;
}

.attorneys a:hover{
  color: #fffff0;

}

.attorneys a:active{
  color: red;
}

.attorneys{
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.attorneys img{
  margin: 0 auto;
  max-width: 100%;
}



@media screen and (min-width: 660px){
  /*Homepage tablet*/

  .about{
    width: 45%;
    display: inline-block;
    vertical-align: top;
    padding: 2%;
  }
  .news{
    width: 45%;
    display: inline-block;
    vertical-align: top;
    padding: 2%;
  }

  .featured{
    max-width: 100%;
    margin: 0 auto;

  }

  /*Attorney tablet*/
  .attorney_content{
    width: 45%;
    display: inline-block;
    float: right;
  }

  .attorney_sidebar{
    width: 45%;
    display: inline-block;
    float: left;
  }

  .bottom{
  position: relative;
  top: 1000px;

  }
/*Practice area tablet*/

.practice_content{
  width: 45%;
  display: inline-block;
  float: right;
  padding-bottom: 20%;
  margin-bottom: 20%
}

.practice_sidebar2{
  width: 45%;
  display: inline-block;
  float: left;
  padding-bottom: 20%;
  margin-bottom: 20%;
}

.practice_sidebar{
  display: none;
}

.left{
  width: 45%;
  display: inline-block;
  float: left;
  vertical-align: top;
  margin: 0 auto;
}

.right{
  width: 45%;
  display: inline-block;
  float: right;
  vertical-align: top;
  margin: 0 auto;
}


}

@media screen and (min-width: 1000px){
/*Homepage desktop*/
.about{
  width: 29%;
  display: inline-block;
  vertical-align: top;
}
.news{
  width: 29%;
  display: inline-block;
  vertical-align: top;

}
.featured{
  width: 29%;
  display: inline-block;
  float: right;
  vertical-align: top;
  margin-top: 20px;
}

.menu-link{
  display: none;
}

.main_nav{
  color: white;
  background-color: #b2b2b2;
  display: inline-block;
  width: 100%;
}

.main_nav li{
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;

}




}
